.profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    height: 450px;
    margin-top: 60px;
    margin-left: 100px;
  }
  
  .profile-text {
    flex: 1;
    padding-right: 20px;
  }
  
  .profile-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .profile-text p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .profile-text strong {
    font-weight: bold;
  }
  
  .profile-image {
    flex: 0 0 150px;
    text-align: center;
  }
  
  .profile-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  